.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.img{
  min-height: 100vh;
  background-image: url('../../public/fundo.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

